* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #E5E5E5 !important;
}
video::-webkit-media-controls-panel {
    display: flex !important;
    opacity: 1 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer .MuiDataGrid-columnHeader {
    padding:0 16px!important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
    padding:0 16px!important;
}

/*Change accordion disabled background color*/
.MuiAccordion-root.Mui-disabled {
    background-color: #f7f7f7!important;
}

.MuiAccordion-root.Mui-expanded {
    margin: 0!important;
}

.MuiAccordion-root.Mui-expanded:before {
   opacity: 1!important;
}

.MuiButtonBase-root.MuiAccordionSummary-root.Mui-disabled {
    opacity: 0.6;
}

